# PSDCNv2 configurations


# *-- Network --*

network_prefix: /etri/rn

network: [                     # DHT Network
    /etri/rn-1,
    /etri/rn-2,
    /etri/rn-3,
]

IR_prefix: /etri/marketplace   # Marketplace IR

# broker_prefix: /etri/rn-1    # Per-broker prefix


# *-- Names --*

names_provider: TrieNames()
# names_provider: ProcNames()
# names_provider: RegexpNames()


# *-- Store and Storage --*

storage_provider: TableStorage()
# storage_provider: FileStorage()
# storage_provider: RedisStorage(redis.StrictRedis())

cache_size: 100

clear_store: False


# *-- Rate Limiting --*
service_rate: 100


# *-- Service Token Validation --*
service_token_validation: False


# *-- Logging --*

logger:
    level: debug
    handlers:
        fileHandler: psdcnv2.log
        StreamHandler: sys.stdout
