# PSDCNv3 configurations


# *-- Network --*

network_prefix: /rn            # Network prefix
# broker_prefix: /rn-1         # Per-broker prefix

network: [                     # DHT Network
    /rn-1,
    /rn-2,
    /rn-3
]


# *-- Names --*

# names_provider: ProcNames()
# names_provider: RegexpNames()
names_provider: TrieNames()


# *-- Store and Storage --*

# storage_provider: TableStorage()
# storage_provider: FileStorage('./psdcnv3data')
storage_provider: RedisStorage(redis.StrictRedis())

cache_size: 1

clear_store: True


# *-- Logging --*

logger:
    level: info
    handlers:
        fileHandler: PSDCNv3.log
        StreamHandler: sys.stdout

